:root {
    --pasto: #27ae60;
    --verde-lima: #2ecc71;
    --cal: rgba(255, 255, 255, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: var(--pasto);
    background-image: 
        linear-gradient(var(--cal) 1px, transparent 1px),
        linear-gradient(90deg, var(--cal) 1px, transparent 1px);
    background-size: 40px 40px;
    min-height: 100vh;
}

body::after {
    content: '⚽'; position: fixed; bottom: 10px; right: 10px; font-size: 60px; opacity: 0.1;
}

.view-inicial { height: 100vh; display: flex; justify-content: center; align-items: center; }
.welcome-content { background: white; padding: 40px; border-radius: 40px; text-align: center; width: 85%; box-shadow: 0 10px 30px rgba(0,0,0,0.3); }

header { background: white; padding: 15px 20px; display: flex; justify-content: space-between; align-items: center; }
.logo-container { color: var(--verde-lima); font-weight: 800; cursor: pointer; }

.py-card { background: white; border-radius: 20px; overflow: hidden; margin-bottom: 15px; }
.py-img { height: 120px; background: #333 url('https://images.unsplash.com/photo-1574629810360-7efbbe195018?q=80&w=500') center/cover; }
.py-info { padding: 15px; }

.container { max-width: 450px; margin: 0 auto; padding: 20px; }
input { width: 100%; padding: 12px; margin: 10px 0; border: 1px solid #ddd; border-radius: 12px; box-sizing: border-box; }
.btn-primary { width: 100%; padding: 15px; background: var(--verde-lima); color: white; border: none; border-radius: 12px; font-weight: 800; cursor: pointer; }

.admin-panel-card { background: white; padding: 30px; border-radius: 30px; border: 5px solid #f1c40f; text-align: center; }
